<div class="container-grid">
    <nav>
        <div class="logo">
            <a class="logo" routerLink="/">U-V</a>
        </div>
        <button class="menu-icon" (click)="toggleMenu()">
            ☰
        </button>
        <div class="nav-links" [class.active]="menuActive">
            <a (click)="closeMenu()" routerLink="/">Home</a>
            <a (click)="closeMenu()" routerLink="/profile">Profile</a>
            <a (click)="closeMenu()" target="_blank" href="https://github.com/Deakon89/Urban-Vibe.git"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H160v400Zm140-40-56-56 103-104-104-104 57-56 160 160-160 160Zm180 0v-80h240v80H480Z"/></svg></a>
        </div>
        
    </nav>
    <main>    
        <ng-content class="content" *ngIf="!hasChildRoute(routerOutlet)">
            <h1>URBANVIBE</h1>
            <p>Discover the air quality in your city and unlock a healthier, happier lifestyle.
                Clean air isn't just a metric—it's your daily dose of life.
                Let's make every breath count.</p>
            <div class="buttons">
                <a routerLink="/search" routerLinkActive="active" class="btn btn-primary">Search</a>
                <a routerLink="/about-us" class="btn btn-secondary">About us</a>
            </div>
        </ng-content>
        <div [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #routerOutlet="outlet" #outlet="outlet"></router-outlet>
        </div>
        <div class="wave"></div>
        <div class="wave"></div>
    </main>

    <footer>
        <p>Copyright &copy; 2025 U-V</p>
    </footer>
  </div>
  