<div class="about-container">
    <mat-card class="about-card">
      <h2>About Us</h2>
      <p>
        We're a passionate startup dedicated to helping everyone breathe healthier and live better.
Our mission is to empower communities with real-time insights into air quality, making cities smarter, healthier, and more enjoyable places to live.
      </p>
  
      <h3>Our Team</h3>
      <div class="team">
        <div class="member" *ngFor="let member of teamMembers">
          <img [src]="member.avatar" alt="{{member.name}}">
          <h4>{{ member.name }}</h4>
          <p>{{ member.role }}</p>
        </div>
      </div>
    </mat-card>
  </div>